<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ModelViewSimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PageControlNavigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WebViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E756D7D1B4CDC1E00A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E756D961B4CDC1E00A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E756DAA1B4CEF5800A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E756DC51B4CEF5800A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E756DD71B4D26A500A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E756DEF1B4D26A500A446B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E839A3D1B4F6F1D0021B87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E839A551B4F6F1D0021B87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E839A6A1B4F84800021B87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E839A821B4F84800021B87A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
